node_modules/
dist/
.env
.env.local
*.log

# Vite
frontend/dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
